body {
    background: lightgreen;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    
}

.botonera {
    display: flex;
    justify-content: center;
    align-items: center;

}

.score {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

h1 {
    display: flex;
    justify-content: center;
}

button {
    width: 100px;
    height: 50px;
    margin: 10px;
    font-size: 15px;
    border-radius: 10px;
}

.plantarse {
    background: lightcoral;
}

.cardsPlayer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cardsCrupier{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card {
    background: white;
    border-radius: 5px;
    padding: 15px;
    margin: 5px;
    width: 60px;
    height: 90px;
    font-size: 2em;
}

.cardRed{
    color:red
}

.hidden {
    visibility: hidden;
}

.winner {
    background: black;
    color: white;
    padding: 10px;
    font-size: 30px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-self: center;
    z-index: 20;
    transform: translate(-60px, -60vh)rotate(-25deg);
}